@page
@model SmartLearning.SmileyOpgave.Pages.Smileys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SmileyReportDtos[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmileyReportDtos[0].Cvr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmileyReportDtos[0].Smiley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmileyReportDtos[0].DateForSmiley)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SmileyReportDtos) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Cvr
            </td>
            <td>
                @switch (item.Smiley)
                {
                        case Models.Dto.SmileyReportDto.SmileyRating.Happy:
                        <img src="~/images/Sm1bg.jpg" style="max-width:50px;width:100%" />
                        break;
                        case Models.Dto.SmileyReportDto.SmileyRating.Balanced:
                        <img src="~/images/Sm3bg.jpg" style="max-width:50px;width:100%" />
                        break;
                        case Models.Dto.SmileyReportDto.SmileyRating.Sad:
                        <img src="~/images/Sm4bg.jpg" style="max-width:50px;width:100%" />
                        break;
                }
            </td>
            <td>
                @item.DateForSmiley
            </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Læs mere...</a>
                </td>
        </tr>

}
    </tbody>
</table>
